table{
    margin: 50px auto ;
    width: 80%;
}

table td , th{
    padding: 10px 30px;
    margin:10px;

}
tr{
    margin-top: 3%;
    border-bottom: 1px solid gray;

}
tr th{
    background-color: rgb(220, 245, 245);
}
tr td{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}