
body
{
    scroll-behavior: smooth !important;
}
/* global  */
.fs-12
{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-18{
    font-size: 18px;
}
.fs-40{
    font-size: 40px;
}
.fs-70{
    
    bottom: -58%;
    left: 4%;
    font-size: 80px;
}
.height-2{
    height: 2px;
}
.fluid{
    width: 100% !important;
    height: 100% !important;
}
.drop-shadow {
    filter: drop-shadow(-3px 7px 7px rgb(136, 134, 134)) !important;
    -webkit-filter: drop-shadow(7px -10px 7px #666666);
}
.header-icon{
    margin-left:9%;
    font-size: 18px;
    font-weight: 0;
}
/* custom styling */

/*  nav-bar custom styles */
.nav-top-neg{
    top: -50% !important;
}
nav{
    /* position: sticky !important; */
    z-index: 99999999;
    transition-duration: 1s;
}
.nav-link{
    color: black;
    font-size: 1rem;
    font-family:'Josefin Sans', sans-serif !important;
}
.nav-item{
    margin-left: 1rem;
}
.dropdown-menu
{
    border-radius: 0;
    transform: translateX(-25%);
    display: block !important;
    visibility: hidden;

}

.nav-item.dropdown:hover ul.dropdown-menu{
    visibility: visible;
    transform: translateX(0);
    border-top: 3px solid #0C65ED;
    transition-duration: 0.5s;
}




/*  */
.carousel-item  img{
    height: 90vh;
}
.overlay{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:1 ;
}
.carousel-indicators
{
    margin: 0% 3%;
    bottom: 22%;
    left: unset;
    right: 2%;
    z-index: 999 !important;
    justify-content: center;
    height: 45%;
    
}
.owl-nav{
    margin-top: 5%;
    text-align: center !important;
}
.carousel-indicators button{
    width: 0.5rem !important;
    height: 0.5rem !important;
    margin-top: 0.7rem !important;
    margin-bottom: 0.7rem !important;
    background-color: white !important;
    opacity: unset !important;
    z-index: 900000 !important;
    border: 0 !important;

}
.carousel-caption{
    z-index: 16 !important;
    color: white !important;
    top: 10%;
}
.carousel-indicators button:hover ,.carousel-indicators button.active{
    transform: scale(1.5);
    margin-top: 0.7rem !important;
    margin-bottom: 0.7rem !important;
    background-color: transparent !important;
    border: 1px solid white !important;
    transition-duration: 0.5s;
    
}
hr{
    border: 2px solid #0C65ED;
    border-color: #0C65ED !important;
    opacity: unset !important;
}
.custom-border-1px{
    border: 1px solid #0C65ED ;
}

.custom-card{
    width: 22%;
    box-shadow: 0px 0px 5px  1px gray;
    right: 74%;
    top: 3%;
    padding: 0.75rem 0.5rem;
}
.custom-card p{
    font-size: 14px;
    line-height: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: gray;
}

.custom-card div.row:hover h5 , .custom-card div.row:hover i{
    color: #0C65ED;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.custom-btn{
    padding: 0.1rem 0.4rem;
    border-radius: 40%;
}
.counter-icon{
    width:4.1rem;
    height:4rem;
    background: #ffffff;
    text-align: center;
    font-size: 28px;
    line-height: 2.4;
    margin-top: 20% ;
    margin-bottom: 20%;
    border-radius: 10%;
    color: #0C65ED;
    box-shadow: 0px 0px 20px  0px rgb(217, 215, 215);

}
.w-18{
    width: 18% !important;
}
.bg-light-gray{
    background-color: #f9f9f9;
}
.bg-fixed{
    background-image: url("../images/service-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#services-section .card , .custom-img-card{
    color: #ffffff;
    background-color: rgba(1,1,1,0);
    margin: 1%;
    border-radius: 2%;
    border-style: solid;
    border-width: 1px;
    border-color: #f9f9f9;
    padding: 3% 1%;
    overflow: hidden;
    /* width: 30rem !important; */
}

.card-body{
    padding-top: 25%;
    background-color: white;
    color: black;
    top:50% ;
    left: 0;
    visibility: hidden ;
    border-radius: inherit;
}

.card-aside{
    height: 100% !important;
    
}

#services-section .card:hover .card-body{
    width: 100%;
    visibility: visible;
    top: 0;
    bottom: 0;
    transition-duration: 1s;
}
#services-section i{
    background-color: #f9f9f900 !important;
    box-shadow: none !important;
    color: white;
    margin-bottom: 0;
    margin-top: 3%;
    font-size: 40px;

}
.custom-img-card{
    overflow: hidden;
    padding: 0;
    width: 28%;
    height: 50%;
}
.card-img-custom{

    width: 100% !important;
    height: 100% !important;
    border-radius: inherit ;
}

.custom-img-card .card-body{
    padding-top: 2%;
    background-color: rgba(12, 102, 237, 0.6);
    color: rgb(255, 255, 255);
    left: 2.5%;
    bottom: 2%;
    width: 95%;
    transform: scaleX(0);
    visibility: hidden ;
    border-radius: inherit;
}

.custom-img-card:hover {
    border: 0;
    box-shadow: 0px 0px 10px 3px rgb(198, 197, 197);
}
.custom-img-card:hover .card-body{
    visibility: visible;
    transform: scaleX(1);
    transition-duration: 0.4s;
}
/* team section custom styles */
.team-card{
    border: 0;
    position: relative !important;
    overflow: hidden;
    margin-bottom: 3%;
    text-align: center;
    /* width: 26.5% !important; */
}

.team-card a{
    text-decoration: none;
    color: black;
}
.team-card .member-data{
    border-bottom: 3px solid black;
    padding-bottom: 2%;
    margin-bottom: 5%;
}
.team-card .card-body{
    visibility: visible;
    padding-top: 2%;
    padding-left: 6%;
    padding-right: 6%;
    top:82%;
    width: 100%;
    box-shadow: 0px 0px 10px 2px rgb(219, 212, 212);
    
}

.member-social{
    transform: translateY(100%);
}

.team-card:hover  .card-body{
    transition-duration: 0.45s;
    top:unset ;
    bottom: 0;
}
.team-card:hover .member-data{
    border: 0;
    transition-duration: 2s;
}

.team-card:hover .member-social{
    transform: translateY(0%);
    transition-delay: 0.2s;
    transition-duration: 0.2s;
}
/* pricing area */
.price-card{
    padding: 2% 3%;
    width: 28%;
    border: 1px solid rgb(202, 201, 201);
    border-radius: 1%;

}
.price-card > div {
    text-align: center;
    padding: 8% 2%;
    border-bottom: 1px solid rgb(226, 219, 219);
}

.price-card.active{   
    border: 0;
    box-shadow: 0px 0px 20px 5px lightgray ;
}
.price-card.active button{
    color: #0C65ED !important;
    background-color: white !important;
    border: 2px solid #0C65ED !important;

}
/* .price-card:hover   {
    
} */

/* form- subscribe section */

/* Testimonial */

/* latest-blog */
 #latest-blog .card:hover .card-aside{
    background-color: #0C65ED !important;
    transition-duration: 0.3s;
 }
 #latest-blog .card:hover .progress-bar {
    width: 100% !important;
    transition-duration: 0.5s;

 }
 #latest-blog .card:hover .img-container {
    overflow: hidden !important;
 }
 #latest-blog .card:hover img {
    transform: rotate(-2deg) scale(1.1);
    transition-duration: 0.8s;

 }


/* Clinets */
#Clients .card {
    overflow: hidden;
    text-align: center;

}
#Clients .card img {
    width: 90% !important;
    height: 90% !important;
}
#Clients .card .card-img{
    width:90% !important;
    height: 90% !important;
    text-align: center !important;
    width: fit-content;

}
.custom-size
{
    padding-top: 1%;
    width: 28%;
    height: 7rem;
}

.custom-shadow{
    box-shadow: 0px 0px 20px 3px black;
}
/* contact page */

#contact-blank-img{
    background-image: url(../images/slider2.jpg);
}
.input-icon-pos{
    top: 25%;
    left: 1%;
}

form textarea{
    height: 40vh;
}
.text-area-icon{
    top:5%;
    left: 1rem;
}

.top-btn{
    opacity: 0;
    position: fixed;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    bottom: 10%;
    right: 1%;
    text-align: center;
    line-height: 1;
    color: white;
    font-size: 27px;
    transition-duration: 0.8s;
    filter: drop-shadow(0px 0px 5px #000000);
    z-index: 9599;
}
.footer-btn-hover:hover{
    background-color:#0C65ED !important ;
    transition-duration: 0.5s;
   
}
.h-to-v{
   opacity: 1 !important;
}
.v-to-h{
    visibility: hidden !important;
    transition-duration: 0.5s;
}
.footer-btn-hover:hover a{
    color: white !important;
    transition-duration: 0.3s;

}
.button-bg-dynamic{
    width: 30px;
	height: 50px;
	transform: skew(-30deg);
	background: rgba(245, 245, 245, 0.49);
    top: 0%;
    left: 105%;
}
.button-container:hover .button-bg-dynamic{
    transform: translateX(-250px) skew(-30deg);
    transition-duration: 1.8s;
}
.button-container:hover {
    font-size: 105%;
    transition-duration: 0.5s;
}